@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BillsMafia';
    src: url('/fonts/Bills Mafia.ttf') format('truetype');
}

.bm {
    font-family: 'BillsMafia', sans-serif !important;
}